.section-menu {
    margin: 3rem 0;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 80%;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 60%;
        }

        @include respond(tab-port) {
            width: 30%;
        }
        @include respond(phone) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        &-2 {
            margin-top: 8.7rem;
            // @include respond(phone) {
            //     margin-bottom: 2rem;
            // }

            @include respond(phone) {
                margin-top: 0;
            }
        }
        &-3 {
            margin-top: 17.5rem;
            // @include respond(phone) {
            //     margin-bottom: 2rem;
            // }
            @include respond(phone) {
                margin-top: 0;
            }
        }

        &-items {
            margin: 2rem;
            padding: 1.5rem 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            width: 15rem;
            transition: all 0.1s;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: translate(10px, -10px);
            }

            @include respond(tab-land) {
                // max-width: 1200px
                width: 12rem;
            }

            @include respond(tab-port) {
                // max-width: 900px;
                width: 4rem;
                padding: 1.5rem 4rem;
            }

            @include respond(phone) {
                // max-width: 900px;
                padding: 1.5rem 6rem;
            }
        }

        &-item-1 {
            background-color: $color-home-green;
        }
        &-item-2 {
            background-color: $color-home-purple;
        }
        &-item-3 {
            background-color: $color-home-red;
        }
        &-item-4 {
            background-color: $color-home-yellow;
        }
        &-item-5 {
            background-color: $color-home-coral;
        }
        &-item-6 {
            background-color: $color-home-lilac;
        }
        &-item-7 {
            background-color: $color-home-blue;
        }
        &-item-8 {
            background-color: $color-home-turquiose;
        }
        &-item-9 {
            background-color: $color-home-green-dark;
        }

        &-link {
            text-decoration: none;
            color: white;
        }
    }
}
