.space-card__under-image .triple-dot-button {
    position: relative;
    left: 280px;
    bottom: 310px;

    svg {
        color: red;
    }
}

.appointment-control-drop-down {
    position: relative;
    bottom: 344px;
    left: 30px;

    &-container {
        position: absolute;
    }
}

.spaces-with-appointments {
    margin-top: 3rem;
}
