.space-page {
    padding: 2rem;

    &__flows {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 2fr;
        grid-gap: 5rem;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
        }
    }
}

.space__images {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space-image {
    width: 60%;
    height: 30vh;
    user-select: none;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
}

.icon {
    &-arrow {
        svg {
            font-size: 35px;
            color: $color-grey-light-3;

            &:hover {
                color: $color-primary-1-lightened;
            }

            &:active {
                color: $color-primary-1;
                transition: 0.2s;
            }
        }
    }

    &-connection--not-connected {
        svg {
            color: $color-primary-2;
        }
    }

    &-connection---connected {
        svg {
            color: $color-primary-1;
        }
    }
}

.locker-connection-status-bar {
    display: flex;

    .paragraph-container {
        margin-left: 4px;

        p {
            color: $color-grey-light-3;
        }
    }
}

.space-description-page-box {
    align-items: flex-start;
}

.space-owner-menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.edit-space-form {
    display: grid;
    grid-template-columns: 250px repeat(3, 100px);
    grid-template-rows: repeat(7, min-content) max-content max-content;
    grid-row-gap: 40px;
    grid-template-areas: 'a1 b1 b1 b1' 'a2 b2 b2 b2' 'a3 b3 b3 b3' 'a4 b4 b4 b4' 'a5 b5 b5 b5' 'a6 b6 b6 b6' 'a7 b7 b7 b7' 'a8 b8 b8 b8' 'a9 a9 a9 a9';

    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }
}
