*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@font-face {
  body {
    font-family: SukhumvitSet-Medium;
    src: url(../../assets/fonts/SukhumvitSet-Medium.ttf); } }

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; }

hmtl,
body {
  max-width: 100vw;
  overflow-x: hidden; }

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #2b2b2b; }

.heading--primary {
  color: #2b2b2b;
  font-size: 2.5rem; }

.heading--secondary {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block; }

.heading--tertiary {
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block; }
  .heading--tertiary--card__text {
    color: #2b2b2b; }

.paragraph--white {
  background-color: #fff; }

.paragraph--large {
  font-size: 1.5rem; }

a {
  text-decoration: none; }

#logo {
  align-self: flex-start;
  width: 200px;
  height: 40px;
  margin-top: 0.9rem; }

#city-picker {
  margin-left: -2rem; }

#how-it-works {
  margin-left: -5rem; }

svg {
  font-family: SukhumvitSet-Medium; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 0.5px solid rgba(208, 208, 208, 0.1);
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  padding: 0.5rem 1.5rem; }
  .navbar-elem--1 {
    width: 100px; }
  .navbar-elem--2 {
    width: 100px; }
  .navbar-elem h3:hover {
    color: #fec602;
    transition: 0.1s;
    cursor: pointer; }
  .navbar-link a:hover {
    color: #fec602; }
  .navbar-link a:visited:not(:active):not(:hover) {
    color: #2b2b2b; }

.active {
  color: #fec602; }

.footer {
  overflow: hidden;
  transition: 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 0.7rem; } }
  .footer-content {
    padding: 2rem;
    background-color: #0d4c73; }
  .footer-section {
    margin-top: auto; }
    .footer-section-name {
      color: #fff; }
  .footer-link {
    color: #fff; }
    .footer-link:hover {
      color: #ffda55; }
    .footer-link:active {
      color: #fec602; }
  .footer-links {
    margin-left: 1rem;
    margin-top: 1rem; }
  .footer-sections {
    position: relative;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .footer__corporate {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: #0d4c73;
    border-top: 0.01rem solid #fff; }
    .footer__corporate p {
      color: #fff; }

.page-title-box {
  background-color: #f9f9f9;
  padding: 3rem 0; }
  @media only screen and (max-width: 37.5em) {
    .page-title-box {
      font-size: 0.9rem; } }

.section-services {
  margin-top: 6rem; }

.services__box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 1fr;
  grid-auto-columns: repeat(3, 300px);
  gap: 3rem;
  justify-content: center;
  justify-items: center; }
  .services__box:last-child {
    margin-bottom: 6rem; }
  @media only screen and (min-width: 112.5em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 18.75rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(4, 18.75rem); } }
  @media only screen and (max-width: 75em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 18.75rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(2, 18.75rem); } }
  @media only screen and (max-width: 56.25em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 15.625rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(2, 15.625rem); } }
  @media only screen and (max-width: 37.5em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: 15.625rem;
      grid-auto-rows: 1fr;
      grid-auto-columns: 15.625rem; } }

.card-wrapper {
  width: 100%;
  height: 14rem;
  border: 1px solid rgba(148, 148, 148, 0.2);
  border-radius: 8px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
  overflow: hidden; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .card__img {
    width: 100%;
    height: 11rem;
    margin-top: -2rem; }
  .card__text {
    margin-top: 1rem; }

.button--primary {
  padding: 0.2rem 1.4rem;
  background-color: #fec602;
  border: 2px solid #fec602;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 2px 2px rgba(140, 140, 140, 0.2); }
  .button--primary:hover:not(:active) {
    background-color: transparent;
    color: #fec602;
    transition: 0.3s; }

.date-picker {
  position: absolute;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  width: 17.7rem;
  z-index: 10;
  margin-top: 0.5rem;
  margin-left: -1.5rem;
  background-color: #fff;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }
  .date-picker__control {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1rem; }
    .date-picker__control__arrow:hover {
      color: #fec602;
      transition: 0.2s; }

.active-month {
  color: #fec602;
  font-weight: 700; }

.drop-down {
  margin: 1px 0 0 0;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  padding: 1.5rem; }

.user-drop-down-menu {
  position: absolute;
  margin-top: 2px;
  padding: 1.5rem;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.filters__sort-by__drop-down-menu {
  position: absolute;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.date-picker__control__choose-year-dropdown {
  position: absolute;
  height: 10rem;
  z-index: 100;
  padding: 1rem;
  overflow-y: scroll;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  background-color: #fff; }

.city-picker__search-results {
  width: 500px;
  height: 200px;
  position: absolute;
  padding: 1rem;
  background-color: #fff;
  z-index: 10;
  border-radius: 15px;
  border: 1px solid rgba(109, 109, 109, 0.5); }

.user-avatar-or-initials {
  cursor: pointer; }

.user-no-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #1476b3;
  border: 2px solid #1476b3;
  box-shadow: 1px 2px 0 0 rgba(151, 151, 151, 0.3);
  transition: 0.1s; }
  .user-no-avatar:hover {
    background-color: #fff; }
    .user-no-avatar:hover p {
      color: #1476b3; }

.user-initials {
  position: relative;
  display: inline-block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px; }
  .user-initials__letters {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

.spaces {
  margin-top: 6rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 1fr;
  grid-auto-columns: repeat(3, 300px);
  gap: 3rem;
  justify-content: center;
  justify-items: center; }

.space-card {
  width: 25rem;
  height: 10rem; }
  .space-card__image {
    width: 15rem;
    height: 200px;
    border-radius: 15px; }
  .space-card--price {
    position: relative; }

.required-field {
  height: 0.3rem;
  width: 0.3rem;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 5px;
  background-color: #1476b3;
  border-radius: 100px; }

.add-user-avatar__input {
  display: none; }

.filters-section {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly; }

.filter {
  padding: 0.2rem 1.5rem;
  color: #b3b3b3;
  font-weight: 400;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 20px; }

.filters__sort-by {
  max-height: 2.5rem; }

.filters__price-range {
  max-height: 2.5rem; }

.filters__required-reservation-dates-picker {
  width: 18.5rem; }
  .filters__required-reservation-dates-picker__content {
    display: flex;
    justify-content: space-between; }

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2rem;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  background-color: #fff;
  z-index: 100; }

.navtabs {
  display: flex;
  width: 32rem;
  justify-content: space-between; }

.navtabs .active {
  color: inherit;
  border-bottom: 2px solid #fec602;
  box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.2); }

.navtabs a:visited {
  color: black; }

.navtabs a:hover:not(.active) {
  border-bottom: 2px solid #ffda55;
  box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.2); }

.titles {
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
  margin-bottom: 5rem; }
  .titles__heading-container {
    align-self: center; }
  .titles__paragraph {
    color: #949494;
    font-size: 1.2rem; }

.slider {
  margin-top: 2px; }

.row {
  display: flex;
  flex-direction: row; }
  .row--center {
    justify-content: center; }

.column {
  display: flex;
  flex-direction: column; }
  .column--self-stretch {
    justify-content: stretch; }
  .column--center {
    align-items: center; }
  .column--start {
    align-items: flex-start; }
  .column--end {
    align-items: flex-end; }
  .column--self-end {
    align-self: flex-end; }
  .column--self-start {
    align-self: flex-start; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

.u-center-text {
  text-align: center; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-top-small {
  margin-top: 2rem; }

.margin-top-medium {
  margin-top: 4rem; }

.page {
  display: flex;
  flex-direction: column;
  align-items: center; }

.drop-down-menu {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1rem;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.label {
  font-weight: bold;
  font-size: medium; }

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: 91vh;
  grid-template-columns: 1fr 4fr; }
  .dashboard__navigation-panel {
    background-color: #1476b3;
    box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.fas-angle {
  margin-top: 6px;
  color: #444444;
  transform: scale(1.4); }
  .fas-angle:hover:not([class*='--inactive']) {
    color: rgba(254, 198, 2, 0.5);
    cursor: pointer; }
  .fas-angle:active:not([class*='--inactive']) {
    color: #fec602; }
  .fas-angle--inactive {
    color: #949494; }

.section-form {
  margin-top: 3rem; }

.form-details {
  margin-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .form-details {
      align-self: center;
      margin-right: 0; } }

.form-box {
  margin-top: 3rem;
  padding: 0rem;
  margin-bottom: 3rem; }

.form {
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(4, 3rem);
  grid-template-columns: 400px 400px;
  grid-template-areas: 'first last' 'email phone' 'address address' 'notes notes';
  justify-content: space-around; }
  @media only screen and (min-width: 112.5em) {
    .form {
      grid-template-columns: repeat(3, 500px); } }
  @media only screen and (max-width: 56.25em) {
    .form {
      grid-template-columns: 250px 250px; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-around;
      padding: 5px;
      width: 250px; } }

.item--1 {
  grid-area: first; }

.item--2 {
  grid-area: last; }

.item--3 {
  grid-area: email; }

.item--4 {
  grid-area: phone; }

.item--5 {
  grid-area: address; }

.item--6 {
  grid-area: notes; }

.form__input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 6px;
  transition: 0.2s; }
  .form__input:focus {
    outline: none;
    transform: scale(1.02); }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      margin: 5px; } }

input::placeholder {
  text-align: center; }

.form-details {
  padding: 2rem;
  background-color: rgba(255, 255, 0, 0.4); }

.how-it-works__banner__image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/how-it-works-doors.jpg);
  background-color: rgba(96, 96, 96, 0.5);
  width: 100vw;
  height: 50vh;
  background-size: contain;
  z-index: 10; }

.how-it-works__banner__content {
  position: relative;
  z-index: 100; }

.how-it-works-section {
  padding: 2rem; }

.how-it-works__what-is-spaceboo__image {
  position: relative;
  left: 100%;
  transform: translate(-89%, 0);
  background: url(../../assets/how-it-works-phone.jpg);
  width: 300px;
  height: 200px;
  background-size: cover;
  clip-path: polygon(29% 0, 100% 0%, 100% 100%, 0% 100%); }

.how-it-works__how-spaceboo-works-section {
  background-color: #f8f8f8; }

.how-it-works__how-spaceboo-works__steps {
  margin-top: 3rem;
  margin-left: -0.5rem;
  width: 40rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.how-it-works__user-steps {
  margin-top: 1.5rem; }
  .how-it-works__user-steps :not(:last-child) {
    margin-bottom: 0.5rem; }

.abcd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.types-of-users {
  display: flex;
  width: 14rem;
  justify-content: space-between; }

.user-step {
  display: flex;
  align-items: center; }
  .user-step__number {
    color: #1476b3;
    font-size: 2rem;
    width: 40px; }

.settings-page__content {
  margin: 3rem 0 0 2rem; }

.settings-panel {
  margin: 3rem 0 0 4rem; }

.general-settings {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .general-settings__fields {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(4, 200px);
    grid-template-areas: 'a b c d' 'a e e e'; }
    .general-settings__fields__avatar .user-avatar-or-initials:hover {
      cursor: default; }
      .general-settings__fields__avatar .user-avatar-or-initials:hover .user-no-avatar {
        background-color: #1476b3; }
        .general-settings__fields__avatar .user-avatar-or-initials:hover .user-no-avatar p {
          color: #fff; }
    .general-settings__fields .user-edit-field--surname {
      grid-area: b; }
    .general-settings__fields .user-edit-field--name {
      grid-area: c; }
    .general-settings__fields .user-edit-field--email {
      grid-area: e; }

.security-settings {
  display: flex;
  flex-direction: column;
  align-items: center; }

.password-change {
  display: flex;
  flex-direction: column;
  margin-top: 3rem; }
  .password-change .password-change-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 2rem; }
    .password-change .password-change-form__fields {
      display: flex;
      justify-content: space-between; }
    .password-change .password-change-form__button {
      width: 180px;
      height: 2.5rem;
      margin-top: 3rem; }
      .password-change .password-change-form__button-container {
        align-self: center; }

.contact-page {
  min-height: 82vh; }

.contact-box {
  display: flex;
  justify-content: space-evenly; }
  .contact-box__data {
    width: 35rem;
    margin-left: 3rem; }

.contact-data {
  display: flex;
  width: 14rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  justify-content: space-between; }
  .contact-data__decoration {
    width: 6px;
    border-radius: 5px;
    background-color: #1476b3;
    justify-content: center; }
  .contact-data__fields {
    align-self: center;
    width: 200px; }
  .contact-data__field {
    display: flex;
    flex-direction: row; }
    .contact-data__field .paragraph-container {
      margin-left: 1rem; }
    .contact-data__field p {
      color: #949494; }

.contact-topic-dropdown-menu {
  position: relative;
  width: 100%; }
  .contact-topic-dropdown-menu .active {
    color: #fec602;
    font-weight: bolder; }
  .contact-topic-dropdown-menu p {
    color: #949494;
    cursor: pointer; }
    .contact-topic-dropdown-menu p:hover {
      color: #ffda55; }

.choose-topic {
  min-width: 13rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  cursor: pointer; }
  .choose-topic p {
    color: #949494; }

.about-page .navtabs {
  margin-top: 4rem; }

.for-investors-page a {
  color: #ffda55;
  font-weight: bolder; }
  .for-investors-page a:hover {
    color: #fec602;
    transition: 0.2s; }

.section-not-found {
  background-color: #faf9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.not-found__item-1 {
  grid-area: image;
  justify-self: start;
  align-self: center; }

.not-found__item-2 {
  grid-area: box-1;
  align-self: center; }

.not-found__item-3 {
  grid-area: box-2;
  align-self: center; }
