*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; }

hmtl,
body {
  max-width: 100vw;
  overflow-x: hidden; }

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #2b2b2b; }

.heading--primary {
  color: #2b2b2b;
  font-size: 2.5rem; }

.heading--secondary {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block; }

.heading--tertiary {
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block; }
  .heading--tertiary--card__text {
    color: #2b2b2b; }

.paragraph--white {
  background-color: #fff; }

.paragraph--large {
  font-size: 1.5rem; }

a {
  text-decoration: none; }

#logo {
  align-self: flex-start;
  width: 200px;
  height: 40px;
  margin-top: 0.9rem;
  pointer-events: none; }
  #logo text {
    color: blue; }

#city-picker {
  margin-left: -2rem; }

#how-it-works {
  margin-left: -5rem; }

svg {
  font-family: SukhumvitSet-Medium; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 0.5px solid rgba(208, 208, 208, 0.1);
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  padding: 0.5rem 1.5rem; }
  .navbar-elem--1 {
    width: 100px; }
  .navbar-elem--2 {
    width: 100px; }
  .navbar-elem h3:hover {
    color: #fec602;
    transition: 0.1s;
    cursor: pointer; }
  .navbar-link a:hover {
    color: #fec602; }
  .navbar-link a:visited:not(:active):not(:hover) {
    text-decoration: none; }
  .navbar__user {
    width: 50px;
    height: 50px; }
    .navbar__user.active {
      outline: 2px solid #1476b3;
      border-radius: 100px; }
    .navbar__user:hover:not(.active) {
      outline: 2px solid rgba(20, 118, 179, 0.3);
      border-radius: 100px; }

.active {
  color: #fec602; }

.navbar-provide-space-button {
  padding: 0.4rem 1.2rem; }

.footer {
  overflow: hidden;
  transition: 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 0.7rem; } }
  .footer-content {
    padding: 2rem;
    background-color: #0d4c73; }
  .footer-section {
    margin-top: auto; }
    .footer-section-name {
      color: #fff; }
  .footer-link {
    color: #fff; }
    .footer-link:hover {
      color: #ffda55; }
    .footer-link:active {
      color: #fec602; }
  .footer-links {
    margin-left: 1rem;
    margin-top: 1rem; }
  .footer-sections {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem; }
  .footer-part {
    width: 350px;
    padding: 0 2rem; }
  .footer__corporate {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: #0d4c73;
    border-top: 0.01rem solid #fff; }
    .footer__corporate p {
      color: #fff; }

.page-title-box {
  background-color: #f9f9f9;
  padding: 3rem 0; }
  @media only screen and (max-width: 37.5em) {
    .page-title-box {
      font-size: 0.9rem; } }

.section-services {
  margin-top: 6rem; }

.services__box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 1fr;
  grid-auto-columns: repeat(3, 300px);
  gap: 3rem;
  justify-content: center;
  justify-items: center; }
  .services__box:last-child {
    margin-bottom: 6rem; }
  @media only screen and (min-width: 112.5em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 18.75rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(4, 18.75rem); } }
  @media only screen and (max-width: 75em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 18.75rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(2, 18.75rem); } }
  @media only screen and (max-width: 56.25em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 15.625rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(2, 15.625rem); } }
  @media only screen and (max-width: 37.5em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: 15.625rem;
      grid-auto-rows: 1fr;
      grid-auto-columns: 15.625rem; } }

.card-wrapper {
  width: 100%;
  height: 14rem;
  border: 1px solid rgba(148, 148, 148, 0.2);
  border-radius: 8px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
  overflow: hidden; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .card__img {
    width: 100%;
    height: 11rem;
    margin-top: -2rem; }
  .card__text {
    margin-top: 1rem; }

.button {
  padding: 0.7rem 1.4rem;
  border: 2px solid #fec602;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 0 2px 2px rgba(140, 140, 140, 0.2); }
  .button--primary {
    background-color: #fec602;
    color: #fff; }
    .button--primary:hover:not(:active) {
      background-color: transparent;
      color: #fec602;
      transition: 0.3s; }

.alert {
  padding: 1rem 1.5rem;
  border-radius: 15px;
  margin-bottom: 1rem; }
  .alert--success {
    border: 1px solid #3aa53f;
    background-color: rgba(53, 214, 61, 0.4); }
  .alert--failure {
    border: 1px solid #b63434;
    background-color: rgba(255, 103, 82, 0.405); }

.date-picker {
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  padding: 0.6rem; }
  .date-picker__control {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 0.5rem; }
  .date-picker__table {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem; }
    .date-picker__table .weekdays {
      cursor: auto; }
    .date-picker__table .picked-day {
      background-color: #fec602; }
    .date-picker__table .table-cell {
      padding: 0.4rem 0.6rem;
      text-align: center;
      border-radius: 15px; }
      .date-picker__table .table-cell--today {
        outline: 1px solid #1476b3;
        border-radius: 15px; }
        .date-picker__table .table-cell--today:hover {
          outline: none;
          background-color: #2b99dd; }
      .date-picker__table .table-cell--past {
        color: #949494; }
      .date-picker__table .table-cell--out-of-month {
        color: #c9c9c9; }
      .date-picker__table .table-cell:hover:not(.table-cell--past):not(.table-cell--today):not(.picked-day) {
        background-color: #ffda55; }

.drop-down.query-date-picker.date-picker {
  position: absolute;
  min-width: 370px;
  z-index: 10;
  margin-left: -23px; }

.active-month {
  color: #fec602;
  font-weight: 700; }

.drop-down {
  position: absolute;
  margin-top: 7px;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  padding: 1.5rem;
  background-color: #fff; }

.user-drop-down-menu {
  position: absolute;
  margin-top: 2px;
  padding: 1.5rem;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }
  .user-drop-down-menu p,
  .user-drop-down-menu--item p {
    color: #2b2b2b;
    cursor: pointer; }
    .user-drop-down-menu p:hover,
    .user-drop-down-menu--item p:hover {
      color: #ffda55; }
  .user-drop-down-menu-section {
    margin: 0 -24px;
    box-shadow: 0 1px 1px rgba(180, 180, 180, 0.2); }

#user-drop-down-menu-section-0 {
  padding: 0px 20px 10px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.1); }

#user-drop-down-menu-section-1 {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.1); }

#user-drop-down-menu-section-2 {
  padding: 10px 20px 0;
  box-shadow: 1px 0 rgba(180, 180, 180, 0.2); }

.date-picker__control__choose-year-dropdown {
  position: absolute;
  height: 10rem;
  z-index: 100;
  padding: 1rem;
  overflow-y: scroll;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  background-color: #fff; }

.city-picker__search-results {
  width: 500px;
  height: 400px;
  position: absolute;
  padding: 2rem;
  background-color: #fff;
  z-index: 10;
  border-radius: 15px;
  border: 1px solid rgba(109, 109, 109, 0.5);
  overflow-y: scroll; }

.city-picker__search-result {
  cursor: pointer;
  padding: 3px; }
  .city-picker__search-result:hover {
    color: #ffda55; }
  .city-picker__search-result:active {
    color: #fec602; }

.user-avatar-or-initials {
  cursor: pointer;
  width: 50px;
  height: 50px; }

.user-no-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #1476b3;
  border: 2px solid #1476b3;
  box-shadow: 1px 2px 0 0 rgba(151, 151, 151, 0.3);
  transition: 0.1s; }
  .user-no-avatar:hover {
    background-color: #fff; }
    .user-no-avatar:hover p {
      color: #1476b3; }

.user-initials {
  position: relative;
  display: inline-block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: -2px; }
  .user-initials__letters {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px; }
  .avatar-label {
    cursor: pointer; }

.remove-avatar-container {
  position: absolute;
  margin: -65px 0 0 35px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #ffda55;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .remove-avatar-container:hover {
    background-color: #fec602; }
  .remove-avatar-container .icon {
    font-size: small; }

.spaces {
  margin-top: 6rem;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(3, 23rem);
  gap: 3rem;
  padding-bottom: 2rem;
  min-height: 22rem; }

.space-card__image {
  width: 20rem;
  height: 16rem;
  border-radius: 15px;
  object-fit: cover; }

.space-card__price {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.55);
  padding: 0.1rem 0.5rem;
  border-radius: 15px; }
  .space-card__price-container {
    position: relative; }
  .space-card__price p {
    color: white;
    font-weight: bold; }

.space-card-link {
  justify-self: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: inherit; }
  .space-card-link:hover {
    border-radius: 15px;
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff; }
  .space-card-link:active {
    transform: scale(1.01); }
  .space-card-link:visited {
    text-decoration: none;
    color: inherit; }
  .space-card-link .space-card-image {
    position: absolute; }

.space-card .rooms-and-city {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 20% 50%; }
  .space-card .rooms-and-city p {
    color: #949494; }
  .space-card .rooms-and-city .rooms-and-city__rooms-container {
    margin-left: 30%; }
  .space-card .rooms-and-city .rooms-and-city__city-icon-container {
    margin-left: 70%;
    color: #949494; }

.space-card .address-container {
  display: flex;
  justify-content: center;
  width: 20rem;
  margin-top: 0.5rem; }
  .space-card .address-container p {
    font-size: 18px;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

input {
  padding: 0.5rem;
  border: 1px solid #b3b3b3;
  border-radius: 15px; }

textarea {
  border: 1px solid #b3b3b3;
  border-radius: 15px 15px 0 15px;
  padding: 0.5rem; }

.input {
  margin-left: -16px;
  font-size: medium;
  padding: 0.6rem 1rem;
  border: 1px solid rgba(189, 189, 189, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  box-sizing: border-box;
  width: 170px;
  outline: 2px solid #1476b3; }

select {
  border-radius: 10px;
  padding: 0.3rem;
  cursor: pointer; }

.inputs-container {
  margin: 1rem 16px 0; }

.required-field {
  height: 0.3rem;
  width: 0.3rem;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 5px;
  background-color: #1476b3;
  border-radius: 100px; }

.add-user-avatar__label {
  font-size: 0.8rem; }

.add-user-avatar__input {
  display: none; }

.user-edit-field-value {
  padding: 0.3rem 1rem;
  margin-left: -16px;
  font-size: medium;
  width: 170px; }
  .user-edit-field-value:hover {
    border: 1px solid rgba(208, 208, 208, 0.4);
    border-radius: 15px;
    box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
    transition: 0.5ms; }

.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #1476b3;
  border-radius: 4px; }
  .checkbox--checked {
    background-color: #1476b3; }

.filters-section {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  width: 90%; }

.filter {
  color: #1476b3;
  font-weight: 400;
  border: 1px solid #2b99dd;
  border-radius: 20px;
  padding: 0.2rem 1.5rem;
  cursor: pointer;
  user-select: none; }
  .filter:hover {
    border: 1px solid #1476b3;
    transition: 0.2s; }
  .filter .date-picker {
    color: #2b2b2b; }

.filters__sort-by {
  max-height: 2.5rem;
  max-width: 150px; }
  .filters__sort-by__drop-down {
    min-width: max-content;
    margin: 5px 0 0 -4rem;
    z-index: 1000;
    color: #2b2b2b; }

.filters__price-range {
  max-height: 2.5rem;
  max-width: 100px; }
  .filters__price-range__drop-down {
    min-width: max-content;
    margin: 5px 0 0 -6.4rem;
    color: #2b2b2b; }

.filters__required-reservation-dates-picker {
  min-width: 300px; }
  .filters__required-reservation-dates-picker .filters-content {
    min-height: 50px;
    display: grid;
    grid-template-columns: 300px 20px;
    grid-template-rows: 1fr;
    grid-template-areas: 'a b'; }
    .filters__required-reservation-dates-picker .filters-content .calendar-icon-container {
      grid-area: b;
      align-self: center;
      justify-self: center; }
    .filters__required-reservation-dates-picker .filters-content .dates-range {
      grid-area: a;
      align-self: center; }
      .filters__required-reservation-dates-picker .filters-content .dates-range__data {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: repeat(2, 25px);
        grid-template-areas: 'a1 b1' 'a2 a2'; }
        .filters__required-reservation-dates-picker .filters-content .dates-range__data .paragraph-container-picked-dates {
          grid-area: a1; }
        .filters__required-reservation-dates-picker .filters-content .dates-range__data .remove-icon-container {
          grid-area: b1; }

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2rem;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  background-color: #fff;
  z-index: 100; }

.navtabs {
  display: flex;
  width: 32rem;
  justify-content: space-between; }

.navtabs .active {
  color: inherit;
  border-bottom: 2px solid #fec602;
  box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.2); }

.navtabs a:visited {
  color: black; }

.navtabs a:hover:not(.active) {
  border-bottom: 2px solid #ffda55;
  box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.2); }

.titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  align-items: center; }
  .titles__heading-container {
    align-self: center; }
  .titles__paragraph {
    color: #949494;
    font-size: 1.2rem; }

.slider {
  width: 97vw;
  align-self: center;
  margin-top: 1rem;
  border-radius: 15px; }
  .slider__image {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/how-it-works-doors.jpg);
    background-color: rgba(96, 96, 96, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }
    .slider__image__content {
      position: relative;
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .slider__image__content__buttons {
        display: flex;
        width: 80%;
        margin: 0 auto;
        position: relative;
        justify-content: space-evenly;
        margin-top: 2rem; }
      .slider__image__content__button {
        background-color: transparent;
        border: 1px solid #fff; }
        .slider__image__content__button:hover {
          background-color: #fff !important;
          color: rgba(0, 0, 0, 0.5) !important; }
  .slider__move-status__active {
    transform: scale(1.2);
    background-color: #faf9f9 !important;
    opacity: 0.8 !important; }
  .slider__move-status-bar {
    justify-content: center;
    margin-top: 3rem; }
    .slider__move-status-bar-elem {
      width: 8px;
      height: 8px;
      background-color: rgba(255, 255, 255, 0.9);
      opacity: 0.2;
      border: 1px #2b2b2b;
      border-radius: 100px;
      margin: 5px; }
      .slider__move-status-bar-elem .active {
        opacity: 1;
        transform: translate(1, 1); }
      .slider__move-status-bar-elem:hover:not(.active) {
        background-color: #faf9f9 !important;
        opacity: 0.5 !important;
        transition: 0.2s; }

.slider__text {
  color: #fff;
  user-select: none;
  text-align: center; }

.validator--allowed {
  outline: 1px solid #3aa53f; }

.validator--disallowed {
  outline: 1px solid #b63434; }

.validation-ok {
  color: #3aa53f; }

.icon {
  color: #2b2b2b; }
  .icon--remove:hover {
    color: #2b99dd; }
  .icon--remove:active {
    color: #1476b3; }

.arrow:hover {
  color: #fec602; }

.arrow--inactive {
  color: #c9c9c9; }
  .arrow--inactive:hover {
    color: #c9c9c9; }

.code-verification {
  display: flex;
  width: 400px;
  justify-content: space-evenly; }
  .code-verification input {
    width: 50px;
    border: transparent;
    border-bottom: 2px solid #1476b3;
    border-radius: 0;
    outline: none;
    text-align: center; }

.page {
  background-color: #f8f8f8; }

.row {
  display: flex;
  flex-direction: row; }
  .row--center {
    justify-content: center; }

.column {
  display: flex;
  flex-direction: column; }
  .column--self-stretch {
    justify-content: stretch; }
  .column--center {
    align-items: center; }
  .column--start {
    align-items: flex-start; }
  .column--end {
    align-items: flex-end; }
  .column--self-end {
    align-self: flex-end; }
  .column--self-start {
    align-self: flex-start; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

.u-center-text {
  text-align: center; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-top-small {
  margin-top: 2rem; }

.margin-top-medium {
  margin-top: 4rem; }

.page {
  display: flex;
  flex-direction: column;
  align-items: center; }

.drop-down-menu {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1rem;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.label {
  font-weight: bold;
  font-size: medium; }

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: 91vh;
  grid-template-columns: 1fr 4fr; }
  .dashboard__navigation-panel {
    background-color: #1476b3;
    box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.fas-angle {
  margin-top: 6px;
  color: #444444;
  transform: scale(1.4); }
  .fas-angle:hover:not([class*='--inactive']) {
    color: rgba(254, 198, 2, 0.5);
    cursor: pointer; }
  .fas-angle:active:not([class*='--inactive']) {
    color: #fec602; }
  .fas-angle--inactive {
    color: #949494; }

.section-form {
  margin-top: 3rem; }

.form-details {
  margin-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .form-details {
      align-self: center;
      margin-right: 0; } }

.form-box {
  margin-top: 3rem;
  padding: 0rem;
  margin-bottom: 3rem; }

.form {
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(4, 3rem);
  grid-template-columns: 400px 400px;
  grid-template-areas: 'first last' 'email phone' 'address address' 'notes notes';
  justify-content: space-around; }
  @media only screen and (min-width: 112.5em) {
    .form {
      grid-template-columns: repeat(3, 500px); } }
  @media only screen and (max-width: 56.25em) {
    .form {
      grid-template-columns: 250px 250px; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-around;
      padding: 5px;
      width: 250px; } }

.item--1 {
  grid-area: first; }

.item--2 {
  grid-area: last; }

.item--3 {
  grid-area: email; }

.item--4 {
  grid-area: phone; }

.item--5 {
  grid-area: address; }

.item--6 {
  grid-area: notes; }

.form__input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 6px;
  transition: 0.2s; }
  .form__input:focus {
    outline: none;
    transform: scale(1.02); }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      margin: 5px; } }

input::placeholder {
  text-align: center; }

.form-details {
  padding: 2rem;
  background-color: rgba(255, 255, 0, 0.4); }

.how-it-works__banner__image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/how-it-works-doors.jpg);
  background-color: rgba(96, 96, 96, 0.5);
  width: 100vw;
  height: 50vh;
  background-size: contain;
  z-index: 10; }

.how-it-works__banner__content {
  position: relative;
  z-index: 100; }

.how-it-works-section {
  padding: 2rem; }

.how-it-works__what-is-spaceboo__image {
  position: relative;
  left: 100%;
  transform: translate(-89%, 0);
  background: url(../../assets/how-it-works-phone.jpg);
  width: 300px;
  height: 200px;
  background-size: cover;
  clip-path: polygon(29% 0, 100% 0%, 100% 100%, 0% 100%); }

.how-it-works__how-spaceboo-works-section {
  background-color: #f8f8f8; }

.how-it-works__how-spaceboo-works__steps {
  margin-top: 3rem;
  margin-left: -0.5rem;
  width: 40rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.how-it-works__user-steps {
  margin-top: 1.5rem; }
  .how-it-works__user-steps :not(:last-child) {
    margin-bottom: 0.5rem; }

.abcd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.types-of-users {
  display: flex;
  width: 14rem;
  justify-content: space-between; }

.user-step {
  display: flex;
  align-items: center; }
  .user-step__number {
    color: #1476b3;
    font-size: 2rem;
    width: 40px; }

.banner__navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 50px; }

.logo--white {
  background: url("../../assets/new-logo-white-4.svg") no-repeat; }

.settings-page__linkable-tabs {
  margin-top: 1rem; }
  .settings-page__linkable-tabs a {
    color: #fff; }
    .settings-page__linkable-tabs a:visited {
      text-decoration: none; }

.settings-page__content {
  margin: 3rem 0 0 2rem; }

.settings-page__navigation-panel__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  height: 100%; }

.tab--active h3 {
  color: #fec602; }

.settings-panel {
  margin: 3rem 0 0 4rem; }

.navigation-panel__title h3 {
  font-size: 1.5rem;
  color: #fff; }

.general-settings {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .general-settings__fields {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(4, 200px);
    grid-template-areas: 'a b c d' 'a e e e';
    grid-column-gap: 2rem; }
    .general-settings__fields__avatar {
      display: flex;
      flex-direction: column;
      width: 50px;
      align-items: center; }
      .general-settings__fields__avatar .user-avatar-or-initials:hover {
        cursor: default; }
        .general-settings__fields__avatar .user-avatar-or-initials:hover .user-no-avatar {
          background-color: #1476b3; }
          .general-settings__fields__avatar .user-avatar-or-initials:hover .user-no-avatar p {
            color: #fff; }
    .general-settings__fields .user-edit-field--surname {
      grid-area: b; }
    .general-settings__fields .user-edit-field--name {
      grid-area: c; }
    .general-settings__fields .user-edit-field--email {
      grid-area: e; }

.security-settings {
  display: flex;
  flex-direction: column;
  align-items: center; }

.password-change {
  display: flex;
  flex-direction: column; }
  .password-change .password-change-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 2rem; }
    .password-change .password-change-form__fields {
      display: flex;
      justify-content: space-between; }
    .password-change .password-change-form__button {
      width: 180px;
      height: 2.5rem;
      margin-top: 3rem; }
      .password-change .password-change-form__button-container {
        align-self: center; }

.avatar-label {
  color: #949494; }

.contact-page {
  min-height: 82vh; }

.contact-box {
  display: flex;
  justify-content: space-evenly; }
  .contact-box__data {
    width: 35rem;
    margin-left: 3rem; }

.contact-data {
  display: flex;
  width: 14rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  justify-content: space-between; }
  .contact-data__decoration {
    width: 6px;
    border-radius: 5px;
    background-color: #1476b3;
    justify-content: center; }
  .contact-data__fields {
    align-self: center;
    width: 200px; }
  .contact-data__field {
    display: flex;
    flex-direction: row; }
    .contact-data__field .paragraph-container {
      margin-left: 1rem; }
    .contact-data__field p {
      color: #949494; }

.contact-topic-dropdown-menu {
  position: relative;
  width: 100%; }
  .contact-topic-dropdown-menu .active {
    color: #fec602;
    font-weight: bolder; }
  .contact-topic-dropdown-menu p {
    color: #949494;
    cursor: pointer; }
    .contact-topic-dropdown-menu p:hover {
      color: #ffda55; }

.choose-topic {
  min-width: 13rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  cursor: pointer; }
  .choose-topic p {
    color: #949494; }

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 4rem;
  margin-top: 2rem; }
  .about-content__box {
    width: 70%;
    background-color: #fff;
    border-left: 6px solid #fec602;
    padding: 2rem 4rem;
    border-radius: 2px;
    box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.space-page {
  padding: 2rem; }
  .space-page__flows {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr;
    grid-gap: 5rem; }

.space__images {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.space-image {
  width: 60%;
  height: 30vh;
  user-select: none;
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.icon-arrow svg {
  font-size: 35px;
  color: #b3b3b3; }
  .icon-arrow svg:hover {
    color: #ffda55; }
  .icon-arrow svg:active {
    color: #fec602;
    transition: 0.2s; }

.icon-connection--not-connected svg {
  color: #1476b3; }

.icon-connection---connected svg {
  color: #fec602; }

.locker-connection-status-bar {
  display: flex; }
  .locker-connection-status-bar .paragraph-container {
    margin-left: 4px; }
    .locker-connection-status-bar .paragraph-container p {
      color: #b3b3b3; }

.for-investors-page a {
  color: #ffda55;
  font-weight: bolder; }
  .for-investors-page a:hover {
    color: #fec602;
    transition: 0.2s; }

.provide-space__form {
  display: grid;
  grid-template-columns: 250px repeat(3, 100px);
  grid-template-rows: repeat(7, min-content) max-content max-content;
  grid-row-gap: 40px;
  grid-template-areas: 'a1 b1 b1 b1' 'a2 b2 b2 b2' 'a3 b3 b3 b3' 'a4 b4 b4 b4' 'a5 b5 b5 b5' 'a6 b6 b6 b6' 'a7 b7 b7 b7' 'a8 b8 b8 b8' 'a9 a9 a9 a9'; }

.checkboxes {
  grid-area: b1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  cursor: pointer; }

.type-of-space__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .type-of-space__checkbox .type-of-space__checkbox__label {
    margin-left: 7px; }

.type-of-space-label {
  cursor: pointer; }

.rooms-number__label-container {
  grid-area: a2; }

.rooms-number__dropdown-container {
  grid-area: b2; }

.description__label-container {
  grid-area: a3; }

.description__textarea-container {
  grid-area: b3; }

.beds-number__dropdown-container {
  grid-area: b4; }

.address__label-container {
  grid-area: a5; }

.address__input-container {
  grid-area: b5; }

.price-per-night__input-container {
  grid-area: b6; }

.city__label-container {
  grid-area: a7; }

.city-picker__search {
  grid-area: b7; }

.photos__input-container {
  grid-area: b8; }

.uploaded-files-container {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 10px;
  grid-auto-rows: 160px;
  grid-auto-columns: repeat(3, max-content); }

.image-to-upload {
  width: 180px;
  height: 160px;
  border-radius: 15px;
  object-fit: cover; }

.images-to-upload-container {
  max-height: 160px; }

.remove-image-to-upload {
  position: relative;
  bottom: 105%;
  left: 90%; }
  .remove-image-to-upload .icon--remove {
    color: white;
    cursor: pointer; }
    .remove-image-to-upload .icon--remove:hover {
      color: #1476b3;
      transition: 0.2s; }

.add-photo .add-button-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.description__textarea {
  width: 300px;
  height: 100px; }

.address__input {
  width: 300px; }

.provide-space-button-container {
  grid-area: a9;
  justify-self: right;
  margin: 2rem -2rem; }

input.validator--allowed {
  outline: none; }
  input.validator--allowed:focus {
    outline: 1px solid #3aa53f; }

.validation-ok {
  display: none;
  position: absolute;
  color: #3aa53f; }

#validation-ok-address {
  bottom: 19.2%;
  left: 77%; }

#validation-ok-price-per-night {
  bottom: 8.5%;
  left: 61.6%; }

.add-photo-icon {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../../assets/icons/icon-add.png");
  background-size: cover;
  cursor: pointer; }
  .add-photo-icon:hover {
    background-image: url("../../assets/icons/icon-add-hover.png"); }

.photos__input {
  display: none; }

.address__input {
  background-size: 14px; }

.section-not-found {
  background-color: #faf9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.not-found__item-1 {
  grid-area: image;
  justify-self: start;
  align-self: center; }

.not-found__item-2 {
  grid-area: box-1;
  align-self: center; }

.not-found__item-3 {
  grid-area: box-2;
  align-self: center; }
