*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@font-face {
  body {
    font-family: SukhumvitSet-Medium;
    src: url(../../assets/fonts/SukhumvitSet-Medium.ttf); } }

hmtl,
body {
  max-width: 100%;
  overflow-x: hidden; }

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; }

body {
  font-family: SukhumvitSet-Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #2b2b2b; }

.heading-primary {
  color: #2b2b2b;
  margin-bottom: 6rem; }

.heading-secondary {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block; }

.heading-tertiary {
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block; }
  .heading-tertiary--card__text {
    color: #2b2b2b; }

.paragraph--grey {
  color: #949494; }

.paragraph--footer-text {
  color: white;
  text-decoration: none; }

.paragraph--inside-heading {
  font-weight: normal; }

a {
  text-decoration: none; }

#logo {
  align-self: flex-start;
  width: 200px;
  height: 40px;
  margin-top: 0.9rem; }

#city-picker {
  margin-left: -2rem; }

#how-it-works {
  margin-left: -5rem; }

svg {
  font-family: SukhumvitSet-Medium; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 0.5px solid rgba(208, 208, 208, 0.1);
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
  padding: 0.5rem 1.5rem; }
  .navbar-elem--1 {
    width: 100px; }
  .navbar-elem--2 {
    width: 100px; }
  .navbar-elem h3:hover {
    color: #fec602;
    transition: 0.1s;
    cursor: pointer; }
  .navbar-link a:hover {
    color: #fec602; }
  .navbar-link a:visited:not(:active):not(:hover) {
    color: #2b2b2b; }

.active {
  color: #fec602; }

.footer {
  margin-top: 5rem;
  padding: 1rem;
  background-color: #1476b3;
  transition: 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 0.7rem; } }
  .footer:hover {
    font-weight: bolder; }

.page-title-box {
  background-color: #f9f9f9;
  padding: 3rem 0; }
  @media only screen and (max-width: 37.5em) {
    .page-title-box {
      font-size: 0.9rem; } }

.section-services {
  margin-top: 6rem; }

.services__box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 1fr;
  grid-auto-columns: repeat(3, 300px);
  gap: 3rem;
  justify-content: center;
  justify-items: center; }
  .services__box:last-child {
    margin-bottom: 6rem; }
  @media only screen and (min-width: 112.5em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 18.75rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(4, 18.75rem); } }
  @media only screen and (max-width: 75em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 18.75rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(2, 18.75rem); } }
  @media only screen and (max-width: 56.25em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 15.625rem);
      grid-auto-rows: 1fr;
      grid-auto-columns: repeat(2, 15.625rem); } }
  @media only screen and (max-width: 37.5em) {
    .services__box {
      grid-template-rows: 1fr;
      grid-template-columns: 15.625rem;
      grid-auto-rows: 1fr;
      grid-auto-columns: 15.625rem; } }

.card-wrapper {
  width: 100%;
  height: 14rem;
  border: 1px solid rgba(148, 148, 148, 0.2);
  border-radius: 8px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
  overflow: hidden; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .card__img {
    width: 100%;
    height: 11rem;
    margin-top: -2rem; }
  .card__text {
    margin-top: 1rem; }

.button--primary {
  padding: 0.2rem 1.4rem;
  background-color: #fec602;
  border: 2px solid #fec602;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 2px 2px rgba(140, 140, 140, 0.2); }
  .button--primary:hover:not(:active) {
    background-color: transparent;
    color: #fec602;
    transition: 0.3s; }

.alert-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.alert {
  display: inline-block;
  padding: 0.5rem 6rem; }

.alert-success {
  border: 1px solid #8fd85f;
  background-color: rgba(143, 216, 95, 0.3);
  border-radius: 3px; }

.date-picker__year-box {
  text-align: center;
  padding: 0.5rem; }

.date-picker__month {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(148, 148, 148, 0.4);
  padding: 0.5rem; }

.date-picker__cells {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(148, 148, 148, 0.4);
  border-radius: 0 0 8px 8px;
  padding: 1rem 1rem; }

.section-date-picker {
  width: 18rem;
  border: 1px solid rgba(148, 148, 148, 0.4);
  border-radius: 10px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.05);
  user-select: none; }

.date-table {
  text-align: center; }
  .date-table__weekdays .date-table__cell {
    font-weight: bold;
    padding-bottom: 0.7rem; }
  .date-table__cell {
    font-weight: 500;
    width: 3.5rem;
    height: 2rem;
    border-radius: 5px; }
    .date-table__cell--inactive {
      color: rgba(148, 148, 148, 0.4) !important; }
    .date-table__cell--unavailable {
      color: red; }
    .date-table__cell--past {
      color: #949494; }
    .date-table__cell--today {
      border: 1px solid #fec602; }
      .date-table__cell--today:hover:not([class*='date-table__cell--active']) {
        background-color: rgba(254, 198, 2, 0.5);
        color: #fff;
        border: none; }
    .date-table__cell--current-month:not([class*='date-table__cell--unavailable']):not([class*='date-table__cell--active']):not([class*='date-table__cell--past']) {
      color: green; }
      .date-table__cell--current-month:not([class*='date-table__cell--unavailable']):not([class*='date-table__cell--active']):not([class*='date-table__cell--past']):hover {
        background-color: rgba(254, 198, 2, 0.5);
        color: #fff; }
    .date-table__cell--active:not([class*='--past']) {
      background-color: #fec602;
      color: white; }

.date-picker__table__cell--at-border--left {
  background-color: green;
  border-radius: 10px 0 0 10px; }

.date-picker__table__cell--at-border--right {
  background-color: green;
  border-radius: 0 10px 10px 0; }

.date-picker__table__cell--picked {
  background-color: green; }

.checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid green;
  background-color: transparent; }
  .checkbox--checked {
    background-color: green; }

.time-picker {
  user-select: none; }
  .time-picker__period {
    margin-top: 3rem; }

.cells-table {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(2, 150px);
  grid-auto-columns: repeat(2, 150px);
  grid-auto-rows: 50px;
  grid-gap: 1rem;
  margin-top: 2rem; }
  .cells-table .cell {
    background-color: #fec602;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; }
    .cells-table .cell:hover {
      background-color: #1476b3; }

.cells-table__cell--active {
  background-color: transparent !important;
  border: 1px solid #fec602 !important;
  color: #fec602 !important; }

.tab--active {
  color: green;
  text-decoration: none; }

.drop-down {
  border-top: 1px solid black;
  width: 100%; }

.user-drop-down-menu {
  position: absolute;
  margin-top: 2px;
  padding: 1.5rem;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2); }

.city-picker__search-results {
  width: 500px;
  height: 200px;
  position: absolute;
  padding: 1rem;
  background-color: #fff;
  z-index: 10;
  border-radius: 15px;
  border: 1px solid rgba(109, 109, 109, 0.5); }

.user-avatar-or-initials {
  cursor: pointer; }

.user-no-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #1476b3; }

.user-initials {
  position: relative;
  display: inline-block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px; }
  .user-initials__letters {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

.spaces-section {
  margin-top: 6rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 1fr;
  grid-auto-columns: repeat(3, 300px);
  gap: 3rem;
  justify-content: center;
  justify-items: center; }

.space-card {
  width: 25rem;
  height: 10rem; }
  .space-card__image {
    width: 15rem;
    height: 200px;
    border-radius: 15px; }
  .space-card--price {
    position: relative; }

.filters-section {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly; }

.filter {
  color: #b3b3b3; }

.row {
  display: flex;
  flex-direction: row; }
  .row--center {
    justify-content: center; }

.column {
  display: flex;
  flex-direction: column; }
  .column--self-stretch {
    justify-content: stretch; }
  .column--center {
    align-items: center; }
  .column--start {
    align-items: flex-start; }
  .column--end {
    align-items: flex-end; }
  .column--self-end {
    align-self: flex-end; }
  .column--self-start {
    align-self: flex-start; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

.u-center-text {
  text-align: center; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-top-small {
  margin-top: 2rem; }

.margin-top-medium {
  margin-top: 4rem; }

.fas-angle {
  margin-top: 6px;
  color: #444444;
  transform: scale(1.4); }
  .fas-angle:hover:not([class*='--inactive']) {
    color: rgba(254, 198, 2, 0.5);
    cursor: pointer; }
  .fas-angle:active:not([class*='--inactive']) {
    color: #fec602; }
  .fas-angle--inactive {
    color: #949494; }

.section-menu {
  margin: 3rem 0; }
  .section-menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto; }
    @media only screen and (max-width: 75em) {
      .section-menu__container {
        width: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .section-menu__container {
        width: 30%; } }
    @media only screen and (max-width: 37.5em) {
      .section-menu__container {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .section-menu__column {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .section-menu__column-2 {
      margin-top: 8.7rem; }
      @media only screen and (max-width: 37.5em) {
        .section-menu__column-2 {
          margin-top: 0; } }
    .section-menu__column-3 {
      margin-top: 17.5rem; }
      @media only screen and (max-width: 37.5em) {
        .section-menu__column-3 {
          margin-top: 0; } }
    .section-menu__column-items {
      margin: 2rem;
      padding: 1.5rem 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      width: 15rem;
      transition: all 0.1s; }
      .section-menu__column-items:hover {
        transform: scale(1.1); }
      .section-menu__column-items:active {
        transform: translate(10px, -10px); }
      @media only screen and (max-width: 75em) {
        .section-menu__column-items {
          width: 12rem; } }
      @media only screen and (max-width: 56.25em) {
        .section-menu__column-items {
          width: 4rem;
          padding: 1.5rem 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .section-menu__column-items {
          padding: 1.5rem 6rem; } }
    .section-menu__column-item-1 {
      background-color: #8fd85f; }
    .section-menu__column-item-2 {
      background-color: #664aee; }
    .section-menu__column-item-3 {
      background-color: #e5180b; }
    .section-menu__column-item-4 {
      background-color: #ffe900; }
    .section-menu__column-item-5 {
      background-color: #d86564; }
    .section-menu__column-item-6 {
      background-color: #c862d8; }
    .section-menu__column-item-7 {
      background-color: #6483d9; }
    .section-menu__column-item-8 {
      background-color: #61d6d7; }
    .section-menu__column-item-9 {
      background-color: #539a20; }
    .section-menu__column-link {
      text-decoration: none;
      color: white; }

.section-form {
  margin-top: 3rem; }

.form-details {
  margin-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .form-details {
      align-self: center;
      margin-right: 0; } }

.form-box {
  margin-top: 3rem;
  padding: 0rem;
  margin-bottom: 3rem; }

.form {
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(4, 3rem);
  grid-template-columns: 400px 400px;
  grid-template-areas: 'first last' 'email phone' 'address address' 'notes notes';
  justify-content: space-around; }
  @media only screen and (min-width: 112.5em) {
    .form {
      grid-template-columns: repeat(3, 500px); } }
  @media only screen and (max-width: 56.25em) {
    .form {
      grid-template-columns: 250px 250px; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-around;
      padding: 5px;
      width: 250px; } }

.item--1 {
  grid-area: first; }

.item--2 {
  grid-area: last; }

.item--3 {
  grid-area: email; }

.item--4 {
  grid-area: phone; }

.item--5 {
  grid-area: address; }

.item--6 {
  grid-area: notes; }

.form__input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 6px;
  transition: 0.2s; }
  .form__input:focus {
    outline: none;
    transform: scale(1.02); }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      margin: 5px; } }

input::placeholder {
  text-align: center; }

.form-details {
  padding: 2rem;
  background-color: rgba(255, 255, 0, 0.4); }

.section-not-found {
  background-color: #faf9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.not-found__item-1 {
  grid-area: image;
  justify-self: start;
  align-self: center; }

.not-found__item-2 {
  grid-area: box-1;
  align-self: center; }

.not-found__item-3 {
  grid-area: box-2;
  align-self: center; }
