.table-cell {
    &--appointed {
        background-color: red;
    }

    &--available {
        background-color: green;
    }

    &--unclickable {
        &:hover {
            background-color: transparent !important;
            cursor: auto;
        }
    }
}

.date-picker__table {
    user-select: none;
}
