// .section-services {
//     margin-top: 6rem;
// }

// .services__box {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     width: 90%;
//     margin: 0 auto;
//     align-items: center;
// }

// // .idk {
// //     display: flex;
// //     flex-direction: column;
// //     justify-content: center;
// // }

// .card-wrapper {
//     &:not(:last-child) {
//         margin-right: 0.5rem;
//     }
//     margin-bottom: 2.5rem;

//     flex-basis: 25%;

//     height: 14rem;
//     // &:not(:last-child) {
//     //     margin-right: 3rem;
//     // }

//     border: 1px solid rgba($color-grey-light-1, 0.2);
//     border-radius: 8px;
//     box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
//     transition: all 0.1s;

//     @include respond(phone) {
//         flex-basis: 90%;
//     }
//     &:hover {
//         transform: scale(1.05);
//     }
//     &:active {
//         transform: translate(5px, -5px);
//     }
//     // display: flex;
//     // flex-direction: column;
//     overflow: hidden;
// }

// .card {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 100%;

//     &__img {
//         width: 100%;
//         height: 11rem;
//         margin-top: -2rem;
//     }

//     &__text {
//         margin-top: 1rem;
//     }
// }

.section-services {
    margin-top: 6rem;
}

.services__box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 1fr;
    grid-auto-columns: repeat(3, 300px);
    gap: 3rem;
    justify-content: center;
    justify-items: center;
    &:last-child {
        margin-bottom: 6rem;
    }

    @include respond(big-desktop) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 18.75rem);
        grid-auto-rows: 1fr;
        grid-auto-columns: repeat(4, 18.75rem);
    }
    @include respond(tab-land) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 18.75rem);
        grid-auto-rows: 1fr;
        grid-auto-columns: repeat(2, 18.75rem);
    }
    @include respond(tab-port) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 15.625rem);
        grid-auto-rows: 1fr;
        grid-auto-columns: repeat(2, 15.625rem);
    }
    @include respond(phone) {
        grid-template-rows: 1fr;
        grid-template-columns: 15.625rem;
        grid-auto-rows: 1fr;
        grid-auto-columns: 15.625rem;
    }
}

// .idk {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

.card-wrapper {
    // &:not(:last-child) {
    //     margin-right: 0.5rem;
    // }
    // margin-bottom: 2.5rem;

    // flex-basis: 25%;
    width: 100%;
    height: 14rem;
    // &:not(:last-child) {
    //     margin-right: 3rem;
    // }

    border: 1px solid rgba($color-grey-light-1, 0.2);
    border-radius: 8px;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    transition: all 0.1s;

    // @include respond(phone) {
    //     flex-basis: 90%;
    // }
    // NOTE FIXME

    @include respond(desktops) {
        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: translate(5px, -5px);
        }
    }

    // display: flex;
    // flex-direction: column;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__img {
        width: 100%;
        height: 11rem;
        margin-top: -2rem;
    }

    &__text {
        margin-top: 1rem;
    }
}
