.city-picker {
    &__search-results {
        width: 500px;
        height: 400px;
        position: absolute;
        padding: 2rem;
        background-color: $color-white;
        z-index: 10;
        border-radius: $box-border-radius;
        border: 1px solid rgba(109, 109, 109, 0.5);
        overflow-y: scroll;
    }

    &__search-result {
        cursor: pointer;
        padding: 3px;

        &:hover {
            color: $color-primary-1-lightened;
        }

        &:active {
            color: $color-primary-1;
        }
    }
}
