.component-handler {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
    justify-content: space-between;
    margin: 4px;
    &__decrease,
    &__increase {
        width: 30px;
        height: 30px;
        color: $color-primary-1;
        border: 1px solid $color-primary-1;

        border-radius: 50px;
        transition: 0.1s;
        user-select: none;

        @include respond(desktops) {
            &:hover {
                background-color: rgba($color-primary-1, 0.4);
                border: 1px solid transparent;
                color: $color-white;
            }
            &:active {
                background-color: $color-primary-1;
                color: $color-white;
            }
        }
    }
}

.components {
    width: 200px;
    margin: 0 auto;
    margin-top: 3rem;
}

.component-handler__increase--2 {
    width: 3rem;
}
