.date-picker {
    border: 1px solid $box-border-color;
    border-radius: $box-border-radius;
    background-color: $color-white;
    box-shadow: $box-shadow;
    padding: 0.6rem;
    cursor: auto;

    &__control {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }

    &__table {
        display: flex;
        justify-content: center;
        margin-top: 0.7rem;

        .weekdays {
            cursor: auto;
        }

        .picked-day {
            background-color: $color-primary-2;
            color: white !important;
        }

        .table-cell {
            padding: 0.4rem 0.6rem;
            text-align: center;
            border-radius: $box-border-radius;
            cursor: pointer;

            &--today {
                outline: 1px solid $color-primary-1;
                border-radius: $box-border-radius;
                color: $color-primary-1;

                &.picked-day {
                    outline: none;
                    color: white;

                    &:hover {
                        background-color: $color-primary-2;
                    }
                }

                &:hover {
                    outline: none;
                    background-color: $color-primary-1-lightened;
                    color: white;
                }
            }

            &--past {
                color: $color-grey-light-1;
                cursor: auto;
            }

            &--out-of-month {
                color: #c9c9c9;
            }

            &--appointed {
                background-color: $color-grey-light-4;
                color: white;
            }

            &--unclickable {
                &:hover {
                    background-color: transparent !important;
                    cursor: auto;
                }
            }

            &--appointable:not(.picked-day) {
                background-color: rgba($color-primary-2-lightened, 0.5);
                color: white;
            }

            &--unappointable {
                background-color: rgba($color-grey-dark-2, 0.5);
            }

            color: $color-primary-2;

            &:hover:not(.table-cell--past):not(.table-cell--today):not(.picked-day):not(.table-cell--unappointable):not(.table-cell--appointable) {
                background-color: $color-primary-2-lightened;
                color: white;
            }
        }
    }
}

.active-month {
    color: $color-primary-1;
    font-weight: 700;
}
