.date-picker {
    position: absolute;
    border: 1px solid $box-border-color;
    border-radius: $box-border-radius;
    width: 17.7rem;
    z-index: 10;
    margin-top: 0.5rem;
    margin-left: -1.5rem;
    background-color: $color-white;
    box-shadow: $box-shadow;

    &__control {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 1rem;

        &__arrow {
            &:hover {
                color: $color-primary-1;
                transition: 0.2s;
            }
        }
    }
}

.active-month {
    color: $color-primary-1;
    font-weight: 700;
}
