// TODO: перенести все в файлы для каждой страницы. Здесь мы должны использовать только компоненты

.drop-down {
    position: absolute;
    margin-top: 7px;
    border: 1px solid $box-border-color;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    padding: 1.5rem;
    background-color: $color-background-1;
}

.user-drop-down-menu {
    position: absolute;
    margin-top: 2px;
    padding: 1.5rem;
    right: 0;
    z-index: 10;
    background-color: $color-white;
    border: 1px solid $box-border-color;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;

    & p,
    &--item p {
        color: $color-grey-dark-1;
        cursor: pointer;

        &:hover {
            color: $color-primary-1-lightened;
        }
    }

    &--item {
        & p {
        }
    }

    &-section {
        margin: 0 -24px;
        box-shadow: 0 1px 1px rgba(180, 180, 180, 0.2);
    }
}

#user-drop-down-menu-section-0 {
    padding: 0px 20px 10px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.1);
}

#user-drop-down-menu-section-1 {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.1);
}

#user-drop-down-menu-section-2 {
    padding: 10px 20px 0;
    box-shadow: 1px 0 rgba(180, 180, 180, 0.2);
}

.date-picker__control__choose-year-dropdown {
    position: absolute;
    height: 10rem;
    z-index: 100;
    padding: 1rem;
    overflow-y: scroll;
    border: 1px solid $box-border-color;
    border-radius: $box-border-radius;
    background-color: $color-white;
}
