.footer {
    overflow: hidden;
    transition: 0.2s;

    &-content {
        padding: 2rem;
        background-color: $color-footer;
        border-radius: 4px;

        @include hide-phone;
    }

    &-section {
        margin-top: auto;

        &-name {
            color: $color-white;
        }
    }

    &-links {
        margin-left: 1rem;
        margin-top: 1rem;

        & > * > a {
            &,
            &:visited {
                font-size: 1.1rem;
                color: $color-white;
            }

            &:hover {
                color: $color-primary-1-lightened;
            }

            &:active {
                color: $color-primary-1;
            }
        }
    }

    &-sections {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 1rem;
    }

    &-part {
        width: 350px;
        padding: 0 2rem;
    }

    &__corporate {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        background-color: $color-footer;
        border-top: 0.01rem solid $color-white;

        p {
            color: $color-white;
        }
    }
}
