.icon {
    color: $color-grey-dark-1;

    &--remove {
        &:hover {
            color: $color-primary-2-lightened;
        }

        &:active {
            color: $color-primary-2;
        }
    }
}

.remove-icon-container {
    cursor: pointer;

    &:hover {
        color: $color-primary-2-lightened;
    }

    &:active {
        color: $color-primary-2;
    }
}

.arrow {
    &:hover {
        color: $color-primary-1;
    }

    &--inactive {
        color: $color-grey-light-4;

        &:hover {
            color: $color-grey-light-4;
        }
    }
}

.provide-space-link-container .add-button-icon {
    background: url('../../assets/icons/icon-add.png') no-repeat;
    width: 70px;
    height: 70px;
    background-size: cover;

    &:hover {
        background: url('../../assets/icons/icon-add-hover.png') no-repeat;
        background-size: cover;
    }
}
