input {
    padding: 0.5rem;
    border: 1px solid $color-grey-light-3;
    border-radius: $box-border-radius;
}

textarea {
    border: 1px solid $color-grey-light-3;
    border-radius: $box-border-radius $box-border-radius 0 $box-border-radius;
    padding: 0.5rem;
}

.input {
    margin-left: -16px;
    font-size: medium;
    padding: 0.6rem 1rem;
    border: 1px solid rgba(189, 189, 189, 0.4);
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    width: 170px;
    outline: 2px solid $color-primary-2;

    &-container {
        display: flex;
        flex-direction: column;
    }
}

select {
    border-radius: 10px;
    padding: 0.3rem;
    cursor: pointer;
}

.inputs {
    &-container {
        margin: 1rem 16px 0;
    }
}

.required-field {
    height: 0.3rem;
    width: 0.3rem;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 5px;
    background-color: $color-primary-2;
    border-radius: 100px;
}

.add-user-avatar {
    &__label {
        font-size: 0.8rem;
    }

    &__input {
        display: none;
    }
}

.user-edit-field {
    &-value {
        padding: 0.3rem 1rem;
        margin-left: -16px;
        font-size: medium;
        width: 170px;

        &:hover {
            border: 1px solid $box-border-color;
            border-radius: $box-border-radius;
            box-shadow: $box-shadow;
            transition: 0.5ms;
        }
    }
}

.checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid $color-primary-2;
    border-radius: 4px;

    &--checked {
        background-color: $color-primary-2;
    }
}
