.navtabs {
    display: flex;
    width: 32rem;
    justify-content: space-between;
}

.navtabs {
    .active {
        color: inherit;
        border-bottom: 2px solid $color-primary-1;
        box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.2);
    }

    a {
        &:visited {
            color: black;
        }

        &:hover:not(.active) {
            border-bottom: 2px solid $color-primary-1-lightened;
            box-shadow: 0 1px 0 0 rgba(209, 209, 209, 0.2);
        }
    }
}
