#logo {
    width: 320px;
    pointer-events: none;

    text {
        color: blue;
    }

    @include respond(phone) {
        width: 250px;
    }
}

#city-picker {
    @include respond(phone) {
        display: none;
    }

    margin-left: -2rem;
}

#how-it-works {
    @include respond(phone) {
        display: none;
    }

    margin-left: -5rem;
}

.svg-container {
    margin-top: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    border-bottom: 0.5px solid rgba(208, 208, 208, 0.1);
    box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: $color-white;

    @include respond(phone) {
        justify-content: center;
    }

    &-link {
        a {
            &:hover {
                color: $color-primary-1;
            }

            &:visited:not(:active):not(:hover) {
                text-decoration: none;
            }
        }
    }

    &__user {
        @include respond(phone) {
            display: none;
        }

        width: 50px;
        height: 50px;

        &.active {
            outline: 2px solid $color-primary-2;
            border-radius: 100px;
        }

        &:hover:not(.active) {
            outline: 2px solid rgba(20, 118, 179, 0.3);
            border-radius: 100px;
        }
    }

    &-section {
        &.fixed {
            width: 100vw;
        }

        position: fixed;
        width: 100vw;
        z-index: 1000;
    }

    &__elem {
        & .burger-menu {
            @include respond(phone) {
                margin-top: 85vh;
                right: 5%;
            }
        }
    }
}

#navbar-container-for-fixed {
    width: 100vw;
    height: 60px;
    // top: 0;
    // height: 0;
}

.active {
    color: $color-primary-1;
}

.navbar-provide-space-button {
    @include respond(phone) {
        display: none;
    }

    padding: 0.4rem 1.2rem;

    @include respond(tab-port) {
        background-color: transparent !important;
        border: none;
        background-image: url('../assets/icons/icon-add-hover.png') !important;
        background-size: cover;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0 !important;
        color: transparent !important;
    }
}

.provide-space-button-container,
.admin-panel-link-container {
    @include hide-phone;
}
