#logo {
    align-self: flex-start;
    width: 200px;
    height: 40px;
    margin-top: 0.9rem;
}

#city-picker {
    margin-left: -2rem;
}

#how-it-works {
    margin-left: -5rem;
}

svg {
    font-family: SukhumvitSet-Medium;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 0.5px solid rgba(208, 208, 208, 0.1);
    box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);
    padding: 0.5rem 1.5rem;

    &-elem {
        &--1 {
            width: 100px;
        }

        &--2 {
            width: 100px;
        }

        h3:hover {
            color: $color-primary-1;
            transition: 0.1s;
            cursor: pointer;
        }
    }

    &-link {
        a {
            &:hover {
                color: $color-primary-1;
            }

            &:visited:not(:active):not(:hover) {
                color: $color-grey-dark-1;
            }
        }
    }
}

.active {
    color: $color-primary-1;
}
