.with-side-bar {
    height: 100vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 4fr;
}

.side-bar {
    background-color: $color-primary-2;
    box-shadow: 1px 0 0px 0px rgba(209, 209, 209, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
