.spaces {
    margin-top: 6rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
}

.space-card {
    &__image {
        width: 24rem;
        height: 20rem;
        border-radius: $box-border-radius;
        object-fit: cover;
    }

    &--price {
        position: relative;
    }
}
