.titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;

    &__heading {
        &-container {
            align-self: center;
        }
    }

    &__paragraph {
        color: $color-grey-light-1;
        font-size: 1.2rem;

        &-container {
        }
    }
}
