.user {
    &-avatar {
    }

    &-avatar-or-initials {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    &-no-avatar {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: $color-primary-2;
        border: 2px solid $color-primary-2;
        box-shadow: 1px 2px 0 0 rgba(151, 151, 151, 0.3);
        transition: 0.1s;

        &:hover {
            background-color: $color-white;

            p {
                color: $color-primary-2;
            }
        }
    }

    &-initials {
        position: relative;
        display: inline-block;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: $color-white;
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-top: -2px;

        &__letters {
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;

    &-label {
        cursor: pointer;
    }
}

.remove-avatar-container {
    position: absolute;
    margin: -65px 0 0 35px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: $color-primary-1-lightened;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: $color-primary-1;
    }

    & .icon {
        font-size: small;
    }
}
