$color-primary-1: #fec602;
$color-primary-2: #1476b3;
$color-primary-5: #7b0fff;

$color-primary-1-lightened: #ffda55;
$color-primary-2-lightened: #2b99dd;

$color-grey-light-1: #949494;
$color-grey-light-2: #faf9f9;
$color-grey-light-3: #b3b3b3;

$color-grey-dark-1: #2b2b2b;
$color-grey-dark-2: #444444;

$color-white: #fff;

$color-background-1: #fff;
$color-background-2: #f8f8f8;

$color-footer: #0d4c73;

$box-border-radius: 15px;
$box-border-color: rgba(208, 208, 208, 0.4);
$box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);

$button-border-radius: 25px;
