$color-primary-1: #00c1ff;
$color-primary-2: #b5edff;

$color-grey-light-1: #949494;
$color-grey-light-2: #faf9f9;

$color-grey-dark-1: #2b2b2b;
$color-grey-dark-2: #444444;

$color-white: #fff;
// homepage colors
$color-home-green: rgb(143, 216, 95);
$color-home-purple: rgb(102, 74, 238);
$color-home-red: rgb(229, 24, 11);
$color-home-yellow: rgb(255, 233, 0);
$color-home-coral: rgb(216, 101, 100);
$color-home-lilac: rgb(200, 98, 216);
$color-home-blue: rgb(100, 131, 217);
$color-home-turquiose: rgb(97, 214, 215);
$color-home-green-dark: rgb(83, 154, 32);
