.u-center-text {
    text-align: center;
}

.margin-bottom {
    &-small {
        margin-bottom: 2rem;
    }

    &-medium {
        margin-bottom: 4rem;
    }
}

.margin-top {
    &-small {
        margin-top: 2rem;
    }
    &-medium {
        margin-top: 4rem;
    }
}

.drop-down-menu {
    position: absolute;
    margin-top: 0.25rem;
    margin-left: -1rem;
    border: 1px solid $box-border-color;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
}
