.u-center-text {
    text-align: center;
}

.margin-bottom {
    &-small {
        margin-bottom: 2rem;
    }

    &-medium {
        margin-bottom: 4rem;
    }
}

.margin-top {
    &-small {
        margin-top: 2rem;
    }
    &-medium {
        margin-top: 4rem;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-down-menu {
    position: absolute;
    margin-top: 0.25rem;
    margin-left: -1rem;
    border: 1px solid $box-border-color;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
}

.label {
    font-weight: bold;
    font-size: medium;
}

.dark-screen {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.invisible {
    &--phone {
        @include respond(phone) {
            display: none;
        }
    }

    &--tab-port {
        @include respond(tab-port) {
            display: none;
        }
    }

    &--tab-land {
        @include respond(tab-land) {
            display: none;
        }
    }

    &--desktop {
        @include respond(desktop) {
            display: none;
        }
    }

    &--big-desktop {
        @include respond(big-desktop) {
            display: none;
        }
    }
}

// NOTE
.fixed {
    position: fixed;
    z-index: 2000;
    background-color: white;
}
