*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// @include respond(phone) {
//     *:hover {
//         all: unset !important;
//     }
// }

// @media (hover: none) {
//     html *:hover {
//         all: unset !important;
//     }
// }

// html {
//     font-size: 62.5;
// }

body {
    box-sizing: border-box;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
}

hmtl,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
